@inherits LayoutComponentBase

<div class="page container">
  <div class="main">
    <div class="row text-center">
      <div class="page-header mx-auto">
        <h1>Toumei</h1>
        <p>Designed by <a href="https://twitter.com/tsubakimoto_s">@@tsubakimoto_s</a></p>
        <LoginDisplay />
      </div>
    </div>
    @Body
  </div>
</div>
